<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
      <h3>Page Navigation</h3>
      <mat-selection-list multiple="false">
        <mat-list-option (click)="routeToHome()">
          Home Page
        </mat-list-option>
        <mat-list-option (click)="routeToAddCreditCard()">
          Add Credit Card
        </mat-list-option>
        <mat-list-option (click)="routeToTransactions()">
          Transactions
        </mat-list-option>
      </mat-selection-list>
    </mat-drawer>
    <div id="nav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon fontIcon="reorder" id="nav-icon" ></mat-icon>
        </button>
    </div>
</mat-drawer-container>
