<div style="display: flex; 
            flex-direction: row; 
            justify-content: space-between; 
            margin-bottom: 5px;">
    <h3>Credit Cards Registered</h3>

    <mat-paginator [pageSizeOptions]="[15, 50, 100]"
        showFirstLastButtons 
        aria-label="Select page of transactions">
    </mat-paginator>
</div>

<mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
    
    <ng-container matColumnDef="cardholder_name">
        <mat-header-cell mat-sort-header class="cardholder-name-header" *matHeaderCellDef>
            Card Holder
        </mat-header-cell>
        <mat-cell *matCellDef="let card"> 
            {{card.cardholder_name}} 
        </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="card_number">
        <mat-header-cell mat-sort-header class="card-number-header" *matHeaderCellDef> 
            Card Number 
        </mat-header-cell>
        <mat-cell *matCellDef="let card"> 
            {{card.card_number}} 
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="issuer">
        <mat-header-cell mat-sort-header class="issuer-header" *matHeaderCellDef> 
            Issuer 
        </mat-header-cell>
        <mat-cell *matCellDef="let card"> 
            {{card.issuer}} 
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToDetailsPage(row)"></mat-row>
</mat-table>

<div *ngIf="!dataSource">
    No Data Found
</div>