<h3>Current Credit Cards Registered</h3>

<mat-table [dataSource]="dataSource$" class="mat-elevation-z8">
    <ng-container class="cardholder-name" matColumnDef="cardholder_name">
        <mat-header-cell class="cardholder-name-header" mat-header-cell *matHeaderCellDef><p class="mat-header-text">Card Holder</p></mat-header-cell>
        <mat-cell mat-cell *matCellDef="let card"> {{card.cardholder_name}}! </mat-cell>
    </ng-container>

    <ng-container matColumnDef="card_number">
        <mat-header-cell class="card-number-header" *matHeaderCellDef> Card Number </mat-header-cell>
        <mat-cell *matCellDef="let card"> {{card.card_number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="csc_code">
        <mat-header-cell class="csc-code-header" *matHeaderCellDef> CSC Code </mat-header-cell>
        <mat-cell *matCellDef="let card"> {{card.csc_code}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expiration_date_month">
        <mat-header-cell class="expiration-date-month-header" *matHeaderCellDef> Month</mat-header-cell>
        <mat-cell *matCellDef="let card"> {{card.expiration_date_month}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expiration_date_year">
        <mat-header-cell class="expiration-date-year-header" *matHeaderCellDef> Year </mat-header-cell>
        <mat-cell *matCellDef="let card"> {{card.expiration_date_year}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="issuer">
        <mat-header-cell class="issuer-header" *matHeaderCellDef> Issuer </mat-header-cell>
        <mat-cell *matCellDef="let card"> {{card.issuer}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div *ngIf="!dataSource$">
    No Data Found
</div>
