<div style="display: flex; 
            flex-direction: row; 
            justify-content: space-between; 
            margin-bottom: 5px;">
    <h3>Transactions Registered</h3>
    <mat-paginator [pageSizeOptions]="[15, 50, 100]"
        showFirstLastButtons 
        aria-label="Select page of transactions">
    </mat-paginator>
</div>

<mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
  <ng-container matColumnDef="credit_card_number">
    <mat-header-cell mat-sort-header class="card-number-header"  *matHeaderCellDef>
        Credit Card
    </mat-header-cell>
    <mat-cell class="card-number-cell" *matCellDef="let transaction"> 
        {{transaction.credit_card.card_number}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
      <mat-header-cell mat-sort-header class="amount-header" *matHeaderCellDef> 
        Amount 
    </mat-header-cell>
    <mat-cell class="amount-cell" *matCellDef="let transaction"> 
        {{transaction.amount | number:"2.1-2"}} 
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="comment">
    <mat-header-cell mat-sort-header class="comment-header" *matHeaderCellDef> 
        Comment 
    </mat-header-cell>
    <mat-cell class="comment-cell" *matCellDef="let transaction"> 
        {{transaction.comment}} 
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell mat-sort-header class="date-header" *matHeaderCellDef> 
        Date 
    </mat-header-cell>
    <mat-cell class="date-cell" *matCellDef="let transaction"> 
        {{transaction.date | msToDate:"wwwmmmddyyyy"}} 
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="currency">
    <mat-header-cell mat-sort-header class="currency-header" *matHeaderCellDef> 
        Currency 
    </mat-header-cell>
    <mat-cell class="currency-cell" *matCellDef="let transaction"> 
        {{transaction.currency}} 
    </mat-cell>
  </ng-container>

  <mat-header-row class="header-row" *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div *ngIf="!dataSource">
  No Data Found.
</div>

